.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  margin: 0;
}


@media screen and (min-width: 768px) {
  .popup__input {
    line-height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__input {
    line-height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__input {
    line-height: 17px;
  }
}
