.popup__container {
  background-color: #FFFFFF;
  margin: auto;
  min-width: 282px;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px;
  position: relative;

}

@media screen and (min-width: 768px) {
  .popup__container {
    min-width: 320px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__container {
    min-width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__container {
    min-width: 430px;
  }
}
