.elements__button-like {
  width: 22px;
  height: 19px;
  outline: 0;
  border: 0;
  background: url(/images/elements/button-like.svg) no-repeat;
  flex-shrink: 0;
}

.elements__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

