.popup__form {
  background-color: #fff;
  margin: auto;
  min-width: 282px;
  box-sizing: border-box;
  border-radius: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 22px;
}

@media screen and (min-width: 768px) {
  .popup__form {
    padding: 27px 24px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__form {
    padding: 30px 30px 33px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__form {
    padding: 34px 36px 37px;
  }
}

