.popup__close-button {
  border: 0;
  top: -36px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  position: absolute;
  background: none;
  background-image: url(../../../images/popup/close-button.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;

}

@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 24px;
    height: 24px;
    top: -40px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__close-button {
    width: 28px;
    height: 28px;
    top: -32px;
    right: -32px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
