.popup__save-button {
  outline: 0;
  border: 0;
  background: rgba(0,0,0);
  color: #FFFFFF;
  border-radius: 2px;
  min-height: 46px;
  margin: 45px 0 0;
  font-size: 14px;
  line-height: 17px;
}

.popup__save-button:disabled {
  border: 1px solid rgba(0,0,0, .2);
  color: rgba(0,0,0, .2);
  background: #fff;
  cursor: default;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .popup__save-button {
    min-height: 48px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__save-button {
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 48px 0 0;
  }
}
