.popup__save-button {
  outline: 0;
  border: 0;
  background: rgba(0,0,0);
  color: #FFFFFF;
  border-radius: 2px;
  min-height: 46px;
  margin: 45px 0 0;
}

.popup__save-button:hover {
  background: rgba(0,0,0,.8);
  cursor: pointer;
}
